@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --ct-color-bg-primary: #FFF;
    --ct-color-bg-secondary: #F78B00;
    --ct-color-bg-tertiary: #00285f;
    --ct-color-bg-quartenary: #EDEDED;

    --ct-color-font-primary: #000;
    --ct-color-font-secondary: #585858;
    --ct-color-font-tertiary: #00285F;
    --ct-color-font-quartenary: #FFF;

    --ct-color-font-placeholder: #A7A7A7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

a,
a:hover {
    text-decoration: none;
    color: unset;
}

html,
body {
    background-color: var(--ct-color-bg-primary);
}

.ct-container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}